<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
{{- partial "head.html" . -}}

<script>
    // Thats right Buddy! No Light mode for you
    // - @fauzaanu
    const darkmode = document.querySelector('.toggle-dark-mode');
    if (document.documentElement.classList.contains('dark') == false) {
        document.documentElement.classList.add('dark')
        localStorage.setItem('darkmode', 'dark')
    }
</script>

<body class="bg-gray-800 text-white relative flex flex-col min-h-screen">
{{- partial "header.html" . -}}
<main class="mx-4 md:flex-1">

    {{- block "main" . }}{{- end }}
</main>
{{- partial "footer.html" . -}}
</body>

</html>